USE [Jewelry_db]
GO
/****** Object:  Table [dbo].[Buy_tbl]    Script Date: 23/12/2021 23:16:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buy_tbl](
	[IdBuy] [smallint] IDENTITY(1,1) NOT NULL,
	[customerId] [smallint] NOT NULL,
	[DateBuy] [datetime] NULL,
	[amountToPay] [float] NOT NULL,
 CONSTRAINT [PK_Buy_tbl] PRIMARY KEY CLUSTERED 
(
	[IdBuy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BuyDetails_tbl]    Script Date: 23/12/2021 23:16:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuyDetails_tbl](
	[idBuyDetails] [smallint] IDENTITY(1,1) NOT NULL,
	[idBuy] [smallint] NOT NULL,
	[jewelryId] [smallint] NOT NULL,
	[qty] [int] NULL,
 CONSTRAINT [PK_BuyDetails_tbl] PRIMARY KEY CLUSTERED 
(
	[idBuyDetails] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category_tbl]    Script Date: 23/12/2021 23:16:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category_tbl](
	[codeCategory] [smallint] IDENTITY(1,1) NOT NULL,
	[nameCategory] [nvarchar](30) NULL,
 CONSTRAINT [PK_Category_tbl] PRIMARY KEY CLUSTERED 
(
	[codeCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers_tbl]    Script Date: 23/12/2021 23:16:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers_tbl](
	[customerId] [smallint] IDENTITY(1,1) NOT NULL,
	[customerName] [nvarchar](30) NOT NULL,
	[customerPassword] [int] NOT NULL,
	[creditNumber] [nvarchar](16) NOT NULL,
 CONSTRAINT [PK_Customers_tbl] PRIMARY KEY CLUSTERED 
(
	[customerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jewelry_tbl]    Script Date: 23/12/2021 23:16:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jewelry_tbl](
	[jewelryId] [smallint] IDENTITY(1,1) NOT NULL,
	[jewelryName] [varchar](50) NULL,
	[codeCategory] [smallint] NOT NULL,
	[jewelryPrice] [float] NOT NULL,
	[jewelryImage] [nvarchar](50) NULL,
	[unitsInStock] [int] NULL,
	[material] [nvarchar](50) NULL,
 CONSTRAINT [PK_Jewelry_tbl] PRIMARY KEY CLUSTERED 
(
	[jewelryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Buy_tbl] ON 

INSERT [dbo].[Buy_tbl] ([IdBuy], [customerId], [DateBuy], [amountToPay]) VALUES (26, 3, NULL, 98)
INSERT [dbo].[Buy_tbl] ([IdBuy], [customerId], [DateBuy], [amountToPay]) VALUES (27, 3, NULL, 98)
INSERT [dbo].[Buy_tbl] ([IdBuy], [customerId], [DateBuy], [amountToPay]) VALUES (28, 3, NULL, 98)
GO
SET IDENTITY_INSERT [dbo].[Buy_tbl] OFF
GO
SET IDENTITY_INSERT [dbo].[BuyDetails_tbl] ON 

INSERT [dbo].[BuyDetails_tbl] ([idBuyDetails], [idBuy], [jewelryId], [qty]) VALUES (1, 28, 3, 1)
INSERT [dbo].[BuyDetails_tbl] ([idBuyDetails], [idBuy], [jewelryId], [qty]) VALUES (2, 29, 3, 1)
INSERT [dbo].[BuyDetails_tbl] ([idBuyDetails], [idBuy], [jewelryId], [qty]) VALUES (3, 30, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[BuyDetails_tbl] OFF
GO
SET IDENTITY_INSERT [dbo].[Category_tbl] ON 

INSERT [dbo].[Category_tbl] ([codeCategory], [nameCategory]) VALUES (1, N'braclate')
INSERT [dbo].[Category_tbl] ([codeCategory], [nameCategory]) VALUES (2, N'ring')
INSERT [dbo].[Category_tbl] ([codeCategory], [nameCategory]) VALUES (3, N'earrings')
SET IDENTITY_INSERT [dbo].[Category_tbl] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers_tbl] ON 

INSERT [dbo].[Customers_tbl] ([customerId], [customerName], [customerPassword], [creditNumber]) VALUES (3, N'Eli', 324118355, N'9858685654759856')
INSERT [dbo].[Customers_tbl] ([customerId], [customerName], [customerPassword], [creditNumber]) VALUES (4, N'Ruti', 580357, N'5546909855447899')
INSERT [dbo].[Customers_tbl] ([customerId], [customerName], [customerPassword], [creditNumber]) VALUES (5, N'Shira Levi', 646797, N'6887443387493884')
SET IDENTITY_INSERT [dbo].[Customers_tbl] OFF
GO
SET IDENTITY_INSERT [dbo].[Jewelry_tbl] ON 

INSERT [dbo].[Jewelry_tbl] ([jewelryId], [jewelryName], [codeCategory], [jewelryPrice], [jewelryImage], [unitsInStock], [material]) VALUES (3, N'chein', 4, 493, N'c1.jpg', 45, N'silver')
INSERT [dbo].[Jewelry_tbl] ([jewelryId], [jewelryName], [codeCategory], [jewelryPrice], [jewelryImage], [unitsInStock], [material]) VALUES (5, N'earrings', 3, 240, N'e1.jpg', 40, N'PlatinumCoating')
INSERT [dbo].[Jewelry_tbl] ([jewelryId], [jewelryName], [codeCategory], [jewelryPrice], [jewelryImage], [unitsInStock], [material]) VALUES (8, N'bracelet', 1, 178, N'b1.jpg', 12, N'silver')
SET IDENTITY_INSERT [dbo].[Jewelry_tbl] OFF
GO
ALTER TABLE [dbo].[Buy_tbl]  WITH CHECK ADD  CONSTRAINT [FK_Buy_tbl_Customers_tbl] FOREIGN KEY([customerId])
REFERENCES [dbo].[Customers_tbl] ([customerId])
GO
ALTER TABLE [dbo].[Buy_tbl] CHECK CONSTRAINT [FK_Buy_tbl_Customers_tbl]
GO
ALTER TABLE [dbo].[BuyDetails_tbl]  WITH CHECK ADD  CONSTRAINT [FK_BuyDetails_tbl_Buy_tbl] FOREIGN KEY([idBuy])
REFERENCES [dbo].[Buy_tbl] ([IdBuy])
GO
ALTER TABLE [dbo].[BuyDetails_tbl] CHECK CONSTRAINT [FK_BuyDetails_tbl_Buy_tbl]
GO
ALTER TABLE [dbo].[BuyDetails_tbl]  WITH CHECK ADD  CONSTRAINT [FK_BuyDetails_tbl_Jewelry_tbl] FOREIGN KEY([jewelryId])
REFERENCES [dbo].[Jewelry_tbl] ([jewelryId])
GO
ALTER TABLE [dbo].[BuyDetails_tbl] CHECK CONSTRAINT [FK_BuyDetails_tbl_Jewelry_tbl]
GO
ALTER TABLE [dbo].[Jewelry_tbl]  WITH CHECK ADD  CONSTRAINT [FK_Jewelry_tbl_Category_tbl] FOREIGN KEY([codeCategory])
REFERENCES [dbo].[Category_tbl] ([codeCategory])
GO
ALTER TABLE [dbo].[Jewelry_tbl] CHECK CONSTRAINT [FK_Jewelry_tbl_Category_tbl]
GO
